{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ form_start(final_string_form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}
            <div class="field">
                <label class="label" for="last_name">Votre code final :</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1">
                        <div class="is-info is-fullwidth">
                            {{ form_widget(final_string_form.final_string) }}
                        </div>
                    </div>
                </div>

                <div class="is-flex mt-3 is-justify-content-space-between is-align-items-center">

                    <a href="#" class="button is-info is-small js-hostname" onclick="goBack()">
                        <i class="fas fa-chevron-left"></i>
                    </a>

                    <button class="button is-info" id="copy-btn" onclick="CopyToClipboard('final_string_form_final_string')">
                        <i class="fas fa-clone"></i>
                    </button>
                </div>

            </div>

            {{ form_end(final_string_form) }}

        </div>

    </div>





    <script>

        // console.log(textAreaContent);
        let copyBtn = document.getElementById('copy-btn');
        // function CopyToClipboard(containerid) {
        //     if (document.selection) {
        //         var range = document.body.createTextRange();
        //         range.moveToElementText(document.getElementById(containerid));
        //         range.select().createTextRange();
        //         console.log(range);
        //         document.execCommand("copy");
        //     } else if (window.getSelection) {
        //         var range = document.createRange();
        //         range.selectNode(document.getElementById(containerid));
        //         window.getSelection().addRange(range);
        //         document.execCommand("copy");
        //         console.log(range);
        //     }
        // }

        function CopyToClipboard(containerid) {
            let textArea = document.getElementById(containerid);
            // console.log(textArea);
            // let textAreaContent = textArea.innerHTML;
            // console.log(textAreaContent);
            textArea.select();
            textArea.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy');
        }

    </script>

{% endblock %}



