{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

    <div class="column is-flex-desktop is-align-items-center" style="height: 100%">

        <div class="column is-flex is-align-items-center is-justify-content-center  is-two-fifths-desktop" style="height: 50%">
            <div class="box" style="height: 100%;width: 100%">
                Bienvenue sur l'outil d'assistance ("Arbre de clôture") à la fermeture de TASKT/INCT
            </div>
        </div>

        {{ form_start(type_field_form, {'attr' : {'class' : 'column is-flex-desktop is-align-items-center is-justify-content-center', 'style' : 'height:50%'} }) }}

        <div class="field column">
            <label class="label" for="last_name">Type</label>

            <div class="is-flex">
                <div class="control" style="flex: 1;margin-right: 1rem;">
                    <div class="select is-primary is-fullwidth">
                        {{ form_widget(type_field_form.type, {'attr' : {'class' : '', 'placeholder' : 'Type de l\'intervention', 'name' : 'type'} } ) }}
                    </div>
                </div>

                <button class="button is-success">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>


        </div>

        {{ form_end(type_field_form) }}
    </div>

{% endblock %}


