{% extends 'base.html.twig' %}

{% block title %}Arbre de clôture v1.9 | Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <article class="message is-info has-text-centered flash-msg">
            <div class="message-header">
                <span class="icon has-text-light">
                    <i class="fas fa-lg fa-info-circle"></i>
                </span>
                <button class="delete" aria-label="delete" onclick="this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement);" ></button>
            </div>
            <div class="message-body">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </article>
    {% endif %}

    <div class="label has-text-centered">Veuillez entrer vos identifiants</div>

    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <div class="field">
        <p class="control has-icons-left">
            <input type="password" name="password" id="inputPassword" class="input" placeholder="Mot de passe">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="field is-flex is-justify-content-space-between">
        <p class="control">
            <button class="button is-small is-info" type="submit">
                Se connecter
            </button>
        </p>

        <a class="button is-small is-info-custom" href="{{ path('lost_password') }}">
            <span class="icon is-small is-left">
                <i class="fas fa-user-lock"></i>
            </span>
            <span>
                Mot de passe oublié ?
            </span>
        </a>
    </div>

</form>
{% endblock %}
