{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Récupération de mot de passe{% endblock %}

{% block body %}

        <div class="columns is-flex has-text-centered is-centered">
            <div class="column">

                    <h1 class="title">Veuillez indiquer votre Email</h1>
                    {{ form_start(lost_password_form) }}

                    {% include 'includes/flash_message.html.twig' %}

                    <div class="field">

                        <label class="label">Email</label>

                        <div class="control">
                            {{ form_widget(lost_password_form.email, {'attr' : {'class' : 'input', 'placeholder' : 'ex : mail@mail.com' , 'alt' : 'email'}
                            }) }}
                        </div>

                    </div>

                    <button type="submit" class="button is-info-custom is-fullwidth is-small">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lg fa-paper-plane"></i>
                        </span>
                        <span>
                            Envoyer l'email de réinitialisation
                        </span>
                    </button>

                    {{ form_end(lost_password_form) }}

            </div>
        </div>


{% endblock %}
