{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop">
        <div class="box is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

{#            {{ include('includes/nav_indicator.html.twig') }}#}
            <h1 class="title is-size-3-desktop">Code final</h1>

            <div class="field">
                <label class="label" for="last_name">Copier/Coller le code suivant dans la rubrique "Comment and Worknotes" de Service Now</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1">
                        <div class="is-info is-fullwidth">
                            <textarea readonly id="final-string-form" class="textarea" placeholder="10 lines of textarea" rows="10">{{ final_string }}</textarea>
                        </div>
                    </div>
                </div>

                {{ include('includes/nav/end.html.twig') }}

        </div>

    </div>





    <script>

        let copyBtn = document.getElementById('copy-btn');

        function CopyToClipboard(containerid) {
            let textArea = document.getElementById(containerid);
            textArea.select();
            textArea.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy');
        }

    </script>

{% endblock %}



