<h1>Bonjour, merci de confirmer votre adresse mail SCC</h1>

<p>
    Voici le lien de confirmation : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon compte</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientot !
</p>
