{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

        <div class="column is-flex is-align-items-center is-justify-content-center  is-two-thirds-desktop is-two-fifths-widescreen">
            <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">
                <div class="column">
                    <h1 class="title is-size-4-mobile">Bienvenue sur l'outil d'assistance à la fermeture de demandes [TASKT] & incidents [INCT]</h1>
                </div>

                <label class="label">Veuillez selectionner le service concerné</label>

                <div class="">

                    {{ form_start(form, {'attr': {'class':'column'}}) }}

                    <div class="control">
                        {% for child in form.service %}
                            <label class="column" onclick="checkRadio(this)">
                                <button class="button is-dark is-outlined">
                                    {% if child.vars.value == 'HD' %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-headset"></i>
                                        </span>
                                    {% elseif child.vars.value == 'SDP' %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-toolbox"></i>
                                        </span>
                                    {% endif %}
                                    {{ child.vars.label }}
                                    {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                </button>
                            </label>
                        {% endfor %}
                    </div>

                    {{ form_end(form) }}

                </div>
                <div class="notification is-size-7 is-warning">
                    <span class="icon">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span>Pour une compatibilité optimale, veuillez éviter l'utilisation du navigateur Internet Explorer.</span>
                </div>
            </div>

        </div>

{% endblock %}


