<div class="icon-text is-size-4 has-text-centered has-background-dark has-text-light has-border-rounded mb-3">
    <span class=" has-text-left has-text-weight-bold is-uppercase">
        {% if survey.type == 'DEM' %}
            Demande
        {% elseif survey.type == 'INC' %}
            Incident
        {% endif %}
        {{ survey.service }}
    </span>
</div>