<div class="icon-text is-size-4 has-text-centered has-background-dark has-text-light has-border-rounded mb-3">
    <span class=" has-text-left has-text-weight-bold is-uppercase">
        {% if survey.service %}
            <span class="mx-3">
                {{ survey.service }}
                <i class="fas fa-chevron-right"></i>
            </span>
        {% endif %}

        {% if survey.resolvemethod %}
            <span class="">
                {{ survey.resolvemethod }}
                <i class="fas fa-chevron-right"></i>
            </span>
        {% endif %}

        {% if survey.type == 'DEM' %}
            <span class="mx-3">
                Demande
            </span>
        {% elseif survey.type == 'INC' %}
            <span class=" mx-3">
                Incident
            </span>
        {% endif %}
    </span>
</div>