$message-radius: 0;
$message-header-radius:0;
$info: #009fe3;
$box-background-color: rgba(255,255,255,.97);
$info: #0198f1;
$link: black;
$link-hover : $info;
$link-focus : $info;
$link-focus-border: $info;
$link-active-border: $info;
$breadcrumb-item-active-color: $info;

//$navbar-height: 5rem;

//div.form-field{
//  display: none;
//  opacity: 0;
//  position: absolute;
//  transition: .3s;
//}

#prevBtn, #nextBtn{
  transition: .5s;
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.2);
}

.is-fullheight-percent{
  height: 100%;
}

#prevBtn{
  left: 0;
  display: none;
}
#nextBtn{
  right: 0;
}

.arrowNavForm{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.block-form-field{
  //width: 100%;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

#validation-btn{
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
  transition: .3s;
}

#validation-btn button{
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.flash-msg{
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0 !important;
}
.twitter-typeahead{
  display: block !important;
}
.tt-menu{
  width: 100%;
  background: rgba(255,255,255,1);
  margin-top: .5rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  transition: .5s;
  border-radius: 4px;
}
.tt-suggestion{
  padding: .5rem;
  border-radius: 4px;
}
.tt-suggestion:hover{
  cursor: pointer;
  //background: rgba(0, 178, 255, 0.5);
  color: white !important;
  background: $info;
  border-color: #3273dc;
  box-shadow: inset 0 0 0 .125em rgba(50,115,220,.25);
}
#hostname .tt-menu {
  max-height: 300px;
  overflow-y: auto;
}

.section-base-html{
  height: 90vh;
}

.safran-backgound-img{
  //position: absolute;
  //bottom: 0;
  //z-index: -50;
  //max-width: 90%;
  //left: 50%;
  //top: 50%;
  //transform: translate(-50%, -50%);
}

//#asset-btn-form{
//  visibility: hidden;
//}

.hidden-forced{
  display: none !important;
  visibility: hidden !important;
}

.bg-img{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -100;
}
.bg-layer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(1, 152, 241, 0.3);
}

.hostnames:hover{
  cursor: pointer;
  text-decoration: underline;
}

.has-border-rounded{
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



@media (min-width: 769px) {
  .safran-backgound-img{
    //width: 30%;
    //bottom: 1rem;
    //left: 1rem;
    max-width: 400px;
    min-width: 400px;
  }
}



// Importer Bulma
@import "~bulma";
@import "~@fortawesome/fontawesome-free/css/all.min.css";