<div class="control is-hidden nav-for-multiple">
    <button type="submit" class="button is-info is-small add-btn-form" id="add-btn-form">
        <span>Ajouter</span>
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
    </button>
    <p class="help is-info has-text-weight-normal">
        <span class="icon">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        nombre de balises limité à 15
    </p>
</div>