{% if survey is defined %}
    {% if (survey.chemin is not empty) and (survey.chemin|length > 1) %}
        <div class="box is-hidden-desktop">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                <ul>
                    {% for url in survey.chemin %}
                        {% if loop.index == 1 %}
                            <li>
                                <a href="{{ url }}">
                                    <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                    <span>Accueil</span>
                                </a>
                            </li>
                        {% elseif loop.index == (survey.chemin|length) and url != '/CODE-FINAL' %}
                            <li><a href="#">?</a></li>
                        {% else %}
                            <li><a href="{{ url }}">{{ url }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endif %}