<div class="is-flex is-justify-content-space-between">

    <div class="control has-text-left">
        <button class="button is-info is-small" onclick="goBack()">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>
                Précédent
            </span>
        </button>
    </div>

</div>