<div class="is-flex is-justify-content-space-between">

    <div class="control has-text-left">
        <a href="{{ survey.chemin[survey.chemin|length - 2] }}" class="button is-info is-small" title="Etape précédente">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>
                Précédent
            </span>
        </a>
    </div>

    <div class="control has-text-right">
        {% if app.request.get('_route') == 'commentaire' %}
            <div class="modal">
                <div class="modal-background" onclick="closeModal(this)"></div>
                <div class="modal-content">
                    <article class="message is-dark">
                        <div class="message-header">
                            <p>Confirmez-vous les informations entrées ?</p>
                            <a class="delete" aria-label="delete" title="Fermer la fenêtre" onclick="closeModal(this.parentElement.parentElement.parentElement)" ></a>
                        </div>
                        <div class="message-body">

                            <p class="has-text-centered">
                                Vous êtes sur le point de générer le code final.<br>
                                Vous ne pourrez pas revenir en arrière pour modifier les balises.<br>
                                Êtes-vous sûr de vouloir continuer ?
                            </p>

                            <div class="column is-full is-flex is-justify-content-space-evenly">
                                <a class="button is-info add-btn-form" title="Annuler (fermer la fenêtre)" onclick="closeModal(this.parentElement.parentElement.parentElement.parentElement)">
                                    <span class="has-text-weight-bold">
                                        Non
                                    </span>
                                </a>
                                <button type="submit" class="button is-info add-btn-form" title="Générer le code">
                                    <span class="has-text-weight-bold">
                                        Oui
                                    </span>
                                </button>
                            </div>

                         </div>
                    </article>

                </div>

            </div>
            <a class="button is-info is-small btn-for-display-popup" title="Générer le code">
                <span class="has-text-weight-bold">
                    Générer la chaine de balises
                </span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
        {% else %}
            <button type="submit" class="button is-info is-small add-btn-form" title="Etape suivante">
                <span>
                    Suivant
                </span>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </button>
        {% endif %}

    </div>

</div>