<div class="is-flex is-justify-content-space-between">

    <div class="control has-text-left">
        <a href="{{ survey.chemin[survey.chemin|length - 2] }}" class="button is-info is-small" title="Etape précédente">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>
                Précédent
            </span>
        </a>
    </div>

    <div class="control has-text-right">
        <button type="submit" class="button is-info is-small" title="Etape suivante">
            <span>
                Suivant
            </span>
            <span class="icon">
                <i class="fas fa-chevron-right"></i>
            </span>
        </button>
    </div>

</div>