{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ form_start(form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">
                <label class="label" for="last_name">S'agit-il d'un nouvel arrivant ?</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1">
                        <div class="select is-info is-fullwidth">
                            {{ form_widget(form.new_user, {'attr' : {'class' : '', 'placeholder' : 'Type de l\'intervention', 'name' : 'type'} } ) }}
                        </div>
                    </div>

                </div>

            </div>

            <div class="is-flex is-justify-content-end">
                <button class="button is-info is-small">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

            {#                <div class="is-flex is-justify-content-space-between">#}
            {#                    <a href="{{ previous_url }}" class="button is-info is-small">#}
            {#                        <i class="fas fa-chevron-left"></i>#}
            {#                    </a>#}
            {#                    <button class="button is-info is-small">#}
            {#                        <i class="fas fa-chevron-right"></i>#}
            {#                    </button>#}
            {#                </div>#}

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}


